main {
    color: var(--cor6);
    font-weight: bold;
    min-width: 100px;
    max-width: 1000px;
}
main#mainLogin {
    height: 500px;
}
main > section > h1 {
    font-size: 2.9em;
    letter-spacing: 0.1em;
    font-family: "NBA", Arial, Helvetica, sans-serif;
    margin: 100px 0px 0px 0px;
}
main > section {
    max-width: 300px;
    margin: auto;
}
main > section p {
    margin: 30px 0px;
}
main > section input.inputs {
    width: calc(100% - 15px);
    display: block;
    background-color: var(--corSombra);
    margin: auto;
    padding: 15px 0px 15px 15px;
    border: none;
    outline: none;
}
main > section input#btn {
    display: block;
    margin: auto;
    width: 100%;
    font-weight: bold;
    background-color: var(--cor4);
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: var(--cor1);
    cursor: pointer;
    transition: .3s;
}
main input#btn:hover {
    background-color: var(--cor7);
}