main > article img {
    display: block;
    max-width: 80%;
    margin: auto;
}
main > article > h2 {
    background: linear-gradient(to right, transparent, var(--cor4), transparent);
}
main > article strong {
    color: var(--cor4);
}
main > article > ul {
    list-style: none;
}